.spark-popover-text-panel {
  width: 100%;
  max-width: 283px;
  padding-top: var(--dimension-spacing-12);
}

.spark-popover-text-panel:not(:has(.spark-popover-text-header)) {
  padding-top: var(--dimension-spacing-08);
}
